.adminpanel_title {
    font-size: 1.5rem;
    font-weight: bold;
    /* text-align: center; */
    padding: 1rem 0;
    color: #000;
}

.admin_grid {
    display: grid;
    grid-template-columns: 25% 75%;
}

.admin_label {
    justify-self: end;
    font-size: 1rem;
    margin-top: 8px;
    color: #121212;
}

.admin_input {
    padding: 12px;
    font-size: 1rem;
    width: 85%;
    margin: 0px 15px 18px;
    border-radius: 4px;
    border: none;
}

.admin_grid button {
    background-color: #0c66ff;
    border: none;
    color: #fff;
    width: 300px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.admin_grid button:hover{
    background-color: #0000ff;
    cursor: pointer;
}


.link_con {
    background-color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    width: 850px;
}

.link_con h3 {
    margin: 0px;
}

.link_con button {
    cursor: pointer;
}

.link_con h4 {
    color: red;
}